/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* PHASE 0: Reset */

html, head, body, header,
nav, h1, a, ul, li, main,
section, p, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

header, nav, main, section,
footer, small {
  display: block;
}

ul {
  list-style: none;
}

h1 {
	font-size:70px;
	color:#47476b;
	text-shadow: 2px 2px 5px teal;
	text-align:center;
}

body{
	padding:30px;
	width:600px;
	margin: 0 auto;
	font-family: proxima-nova, sans-serif;
	background: #7ac5a8;
}

/*body::-webkit-scrollbar { <-------- Change scrollbar properties
    width: 1em;
}
 
 body::-webkit-scrollbar-track {
    background-color:white;
}
 
body::-webkit-scrollbar-thumb {
  background-color: teal;
  outline: 1px solid slategrey;
}*/

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

.pencil-icon{
	float:left;
}
.list-items{
	width:500px;
	margin:0 auto;
}
.list-item-li{
	opacity:0.8;
	cursor:pointer;
	border:1px solid teal;
	padding:10px;
	margin:10px;
	background:#cae8dc;
	border-radius:10px;
}

.list-item-li a{
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
}
.todo-title{
	font-weight:bold;
	padding:10px;
}

.todo-body{
	padding:20px 10px;
}

label {
	margin: 0px 10px;
	float:left;
	font-size:18px;
	color:#47476b;
	font-weight:bold;
}

.button{
	margin:10px 15px;
	border-radius:9px;
	background:teal;
	color:white;
	outline: none;
	border:2px solid gray;
	font-size:16px;
	padding:8px;
	cursor:pointer;
}

.button:hover{
	-webkit-filter: brightness(130%)
}
.delete{
	background:crimson;
}

.done{
	background:yellow;
	color:black;
}

.submit{
	position:relative;
	width:400px;
	margin:0px 0px 0px 70px;
	font-size:18px;
}
.undone{
	background:#47476b;
}
.form-container{
	width:500px;
	margin: 0 auto;
}
.todo-form{
	margin: 0 auto;
	align-text:center;
}

.todo-done{
	color:gray;
	font-style:italic;
	opacity:0.5;
}

.step{
	font-size:14px;
	width:100px;
	left:40%;
}

.step-input, .todo-form textarea, .todo-form input{
	margin:10px 0px;
	padding:10px;
	font-size:16px;
	width:80%;
	color:teal;
	border-radius:5px;
	outline:none;
	border:2px solid teal;
}